.Pagination{
    text-align: center;

}
.Pagination a{
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
    font-size: 20px;

}
.Pagination a.active{
    background-color: rgb(17, 218, 60);
    font-weight: bold;
    border-radius: 5px;

}
.Pagination a:hover:not(.active){
  background-color: hsl(0, 0%, 66%);
  border-radius: 5px;
}
h1{
    text-align: center;
}
